<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Pour le groupement, Raphaël Ménard et Julien Dossier</h3>
                </div>
            </div>
            <div class="row">
                <p class="text-muted">Ahead of the future revision of its Climat Plan initiative, The City of Paris has carried out a strategic study to establish a carbon free roadmap for Paris for 2050.
</p></br><p class="text-muted">
Elioth is very proud to have led the study group with partners Conseil by Egis, Quattrolibri (low carbon strategies) and Mana (consulting group specialised in sociology). Our report and conclusions have just recently been published.
</p></br><p class="text-muted">
A pioneer in the field of urban environmental thinking, the City of Paris has carried out a strategic study to establish a carbon free roadmap for Paris 2050 ahead of the upcoming revision of its Climat Plan initiative.
</p></br><p class="text-muted">
Elioth, an entity of Egis engineering group, are specialised in R+D and in the design of low carbon innovation. Elioth are very proud to have led the study group with partners Conseil by Egis, Quattrolibri (low carbon strategies) and Mana (consulting group specialised in sociology). Our studies allowed the City of Paris to access an independent and impartial external point of view which took into account the vast array of problems which were to be taken into account. The teams’ proposed measures should allow Paris to open the debate towards a low carbon transition as part of a vision which is shared by every one of its residents.
</p></br><p class="text-muted">
We're very sorry but there no translation yet of our study but you can still ask us anything in english
</p></br><p class="text-muted">
mailto : paris2050@elioth.fr
</p></br></br>

                         </div>
        </div>
    </section>